			  	<div class="tab-pane fade" id="appetizing" role="tabpanel" aria-labelledby="appetizing-tab">
					<div class="text-center"><h4>Salad case item prices are:  <i>1/4 lb</i></h4></div>
					<!--<div class="text-center"><h6><i>* Write something here *</i></h6></div>--><br><br>
				 <div class="row">
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Tuna salad  <span>$2.39</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Egg salad  <span>$1.79</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Chopped herring salad  <span>$1.59</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Chubs  <span>$1.99</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Herring fillets  <span>$1.59</span></h4>
							 <p>In a cream sauce</p>
						  </div>
					   </div>
					   
					   
					</div>
					
					<div class="col-md-6">
						
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Baked salmon salad  <span>$2.79</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Whitefish salad  <span>$2.69</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Nova  <span>$5.99</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Kippered salmon  <span>$4.99</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   
					   
					</div>
					
				 </div>
			  </div>