			  	<div class="tab-pane fade" id="bagelwich" role="tabpanel" aria-labelledby="bagelwich-tab">
					<div class="text-center"><h4>Bagelwich prices are:  <i>each</i></h4></div>
					<!--<div class="text-center"><h6><i>* Write something here *</i></h6></div>--><br><br>
				 <div class="row">
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Buttered bagel  <span>$1.70</span></h4>
							 <p>Twists: add 10&cent;<br>
							 Cinnamon raisin: add 5&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Specialty cream cheese  <span>$2.95</span></h4>
							 <p>Home-made cream cheese!<br>
							 Twists: add 10&cent;<br>
							 Cinnamon raisin: add 5&cent;<br>
							 Add tomato, cheese, or jelly: 50&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Egg salad  <span>$2.99</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Tuna salad  <span>$4.39</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Swiss cheese  <span>$3.19</span></h4>
							 <p>Toasted bagel of your choice with melted swiss cheese.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Baked salmon salad  <span>$4.99</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Whitefish salad  <span>$4.99</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   
					</div>
					
					<div class="col-md-6">
						
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Cream cheese bagel  <span>$1.85</span></h4>
							 <p>Home-made cream cheese!<br>
							 Twists: add 10&cent;<br>
							 Cinnamon raisin: add 5&cent;<br>
							 Add tomato, cheese, or jelly: 50&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Fried egg  <span>$2.49</span></h4>
							 <p>Twists: add 10&cent;<br>
							 Cinnamon raisin: add 5&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Lox & cream cheese  <span>$6.49</span></h4>
							 <p>Add tomato and onion for no additional cost.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Tuna melt  <span>$4.89</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Muenster cheese  <span>$3.19</span></h4>
							 <p>Toasted bagel of your choice with melted muenster cheese.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>American cheese  <span>$2.99</span></h4>
							 <p>Toasted bagel of your choice with melted american cheese.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Chopped herring salad  <span>$2.99</span></h4>
							 <p>Description</p>
						  </div>
					   </div>
					   
					</div>
					
				 </div>
			  </div>