		<div class="row">
		   <div class="tab-content col-xl-12" id="myTabContent">
			  <div class="tab-pane fade active show" id="bagel" role="tabpanel" aria-labelledby="bagel-tab">
							 <div class="text-center"><h4>Bagel prices are:  <i>each / dozen</i></h4></div>
							 <div class="text-center"><h6><i>* Weekday special: Buy 1 dozen - Get 6 FREE *</i></h6></div>
							 <div class="text-center"><p style="color:gray"><i>(Photos seen below are actual bagels from Bagel Patch)</i></p></div><br><br>
				 <div class="row">
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRAn3WVcnwZzw9r5HDVX-pQgFKVV8pD7jnaUoUxp_o76Yv9941g-_7hgstPh5Sb8eYJr6XmWtn2sd2YoOAJkdQDqrz3EjCJ&usqp=CAY" alt="Plain bagel">
						  <div class="menu_content">
							 <h4>Plain  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://cdn.shopify.com/s/files/1/1749/6693/products/sesame-bagel_1024x1024.png?v=1531755283" alt="">
						  <div class="menu_content">
							 <h4>Sesame  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Pumpernickel  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://cdnimg.webstaurantstore.com/images/products/large/428064/1608850.jpg" alt="">
						  <div class="menu_content">
							 <h4>Everything  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("bagels/poppy.jpg") %>
						  <div class="menu_content">
							 <h4>Poppy  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://bagelbiz.com/wp-content/uploads/2017/06/Cin-Raison_Retouch_750x750.png" alt="">
						  <div class="menu_content">
							 <h4>Cinnamon Raisin  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Bialys  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Onion  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					</div>
					<div class="col-md-6">

					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Garlic  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Egg everything  <span>95&cent; / $10.99</span></h4>
							 <p>Also known as Superonion<br>
							 Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Salt  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Plain egg  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Oat bran / whole wheat  <span>$1 / $11.60</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Mini bagels  <span>95&cent; / $10.99</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   
					   <div class="single_menu_list">
						  <img src="https://westcoastpretzels.com/wp-content/uploads/2019/01/pretzel-twist-everything.png" alt="">
						  <div class="menu_content">
							 <h4>Everything twist  <span>$1 / $11.60</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Bagel chips (bag)  <span>$3</span></h4>
							 <p>Offered as a bagelwich</p>
						  </div>
					   </div>
					   
					   
					   
					</div>
				 </div>
			  </div>