			  	<div class="tab-pane fade" id="beverage-bakery" role="tabpanel" aria-labelledby="beverage-bakery-tab">
					<div class="text-center"><h4>Beverage prices are:  <i>SM / LG</i></h4></div>
					<!--<div class="text-center"><h6><i>* Write something here *</i></h6></div>--><br><br>
				 <div class="row">
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <%= image_tag("beverages and bakery/coffee.jpg", :alt => "Coffee") %>
						  <div class="menu_content">
							 <h4>Coffee  <span>$1.25 / $1.50</span></h4>
							 <p>Sugar, milk, creamer, etc.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("beverages and bakery/tea.jpg", :alt => "Tea") %>
						  <div class="menu_content">
							 <h4>Tea  <span>$1.25 / $1.50</span></h4>
							 <p>Black tea, green tea<br>
							 Sugar, milk, creamer, etc.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("beverages and bakery/hot-chocolate.jpg", :alt => "Hot chocolate") %>
						  <div class="menu_content">
							 <h4>Hot chocolate  <span>$1.25 / $1.50</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					   
					</div>
					
					<div class="col-md-6">
						
					   <div class="single_menu_list">
						  <%= image_tag("beverages and bakery/muffin.jpg", :alt => "Muffin") %>
						  <div class="menu_content">
							 <h4>Muffin  <span>$1.75</span></h4>
							 <p>Chocolate chip, blueberry, etc.<br>
							 Toasted with butter: add 15&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("beverages and bakery/cookies.jpg", :alt => "Cookies") %>
						  <div class="menu_content">
							 <h4>Cookie  <span>$1.75</span></h4>
							 <p>Chocolate chip, walnut, etc.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("beverages and bakery/brownie.jpg", :alt => "Brownie") %>
						  <div class="menu_content">
							 <h4>Brownie  <span>$1.75</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					   
					</div>
					
				 </div>
			  </div>