			  <div class="tab-pane fade" id="cream-cheese" role="tabpanel" aria-labelledby="cream-cheese-tab">
							 <div class="text-center"><h4>Cream cheese prices are:  <i>1/4lb</i></h4></div>
							 <div class="text-center"><h6><i>* Buy any amount of our homemade cream cheese & get an equal amount free *</i></h6></div><br><br>
				 <div class="row">
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <img src="https://cdn3.volusion.com/cynq5.sc9ze/v/vspfiles/photos/BagelBarCCPlain-2.jpg?v-cache=1587532596" alt="">
						  <div class="menu_content">
							 <h4>Plain  <span>$3.95</span></h4>
							 <p>Plain cream cheese spread</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://www.mycakeschool.com/images/2019/03/Strawberry-Whipped-Cream-Cheese-Filling-image-720x540.jpg" alt="">
						  <div class="menu_content">
							 <h4>Strawberry  <span>$3.95</span></h4>
							 <p>Strawberry flavored cream cheese</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Scallion  <span>$3.95</span></h4>
							 <p>Freshly chopped scallions mixed into our homemade cream cheese</p>
						  </div>
					   </div>
					   
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Walnut raisin  <span>$3.95</span></h4>
							 <p>Walnuts, cinnamon, and raisins mixed into our homemade cream cheese</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Sun-dried tomato  <span>$3.95</span></h4>
							 <p>Sliced sun-dried tomatoes mixed into our homemade cream cheese</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Low-fat  <span>$3.95</span></h4>
							 <p>Offered in plain or veggie</p>
						  </div>
					   </div>
					   
					</div>
					
					<div class="col-md-6">
						
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Chocolate chip  <span>$3.95</span></h4>
							 <p>Milk chocolate chips mixed into our homemade cream cheese</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Veggie  <span>$3.95</span></h4>
							 <p>[ enter vegetables ]</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Lox spread  <span>$3.95</span></h4>
							 <p>Smoked salmon spread</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Blueberry  <span>$3.95</span></h4>
							 <p>Blueberry flavored homemade cream cheese</p>
						  </div>
					   </div>
					   
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Jalapeño  <span>$3.95</span></h4>
							 <p>With sliced jalapeños in our homemade cream cheese</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <%= image_tag("coming-soon.jpg") %>
						  <div class="menu_content">
							 <h4>Olive  <span>$3.95</span></h4>
							 <p>With sliced olives in our homemade cream cheese</p>
						  </div>
					   </div>
					   
					</div>
					
				 </div>
			  </div>