
		<header>
			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark rounded" style="background-color: #D99F7E;">
				<!-- <a class="navbar-brand" href="#">Bagel Patch</a> -->
				<%= link_to 'Bagel Patch', { controller: 'pages' }, class: 'navbar-brand' %>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
								<%= link_to 'Home', { controller: 'pages' }, class: 'nav-link' %>
						</li>
						<li class="nav-item active">
								<%= link_to 'Menu', { controller: 'menu' }, class: 'nav-link' %>
						</li>
						<li class="nav-item">
								<%= link_to 'Contact', { controller: 'contact' }, class: 'nav-link' %>
						</li>
						<li class="nav-item">
								<%= link_to 'About', { controller: 'about' }, class: 'nav-link' %>
						</li>
					</ul>
					<form class="form-inline mt-2 mt-md-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>
		</header>