
<br><br>
<% if !current_user %>
  <h1>How did you get in here without an account? You should've been redirected. Email me with the name of your browser and the actions you took to get here: <a href="mailto:frakispam-acc@yahoo.com">frakispam-acc@yahoo.com</a> - you can't do anything in here without access.</h1>
<% end %>
<h1>Bagel Patch - Add a special deal</h1>
<!--<%= link_to 'My Blog', controller: 'articles' %>-->
<br>
<table>
  <tr>
    <th style="padding: 15px 50px">Offer</th>
    <th style="padding: 0px 50px">Information</th>
    <th style="padding: 0px 45px">Availability</th>
    <th style="padding: 0px 30px">Author</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><% if article.details %>
          <%= article.details %>
          <% end %>
      </td>
      <td><% if article.user %>
          <%= article.user.name %>
          <% end %>
      </td>
      
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure you wish to remove this offer? This CANNOT be undone - You will have to make a new offer' } %></td>
    </tr>
  <% end %>
</table>
 <h3 style="text-align:right"><%= link_to '+ Add a new deal', new_article_path %></h3>
 <br><br><br>