
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Details:</strong>
  <%= @article.details %>
</p>

<% if can? :update, @article %><%= link_to 'Edit', edit_article_path(@article) %> |<% end %>
<%= link_to 'Back', articles_path %>