<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th colspan="4"></th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><% if user.admin_role? %><%= image_tag("crown.jpg", :alt => "admin crown", style: "position:relative; bottom: 3px") %><% end %>  <%= user.name %></td>
				<td><%= user.email %></td>
				<td><% if user.admin_role? %>
				<!--<%#= check_box("user", "admin_role", {:checked => true, disabled: ''} ) %>-->
					Admin
				<% elsif user.user_role? %>
					User
				<% end %> </td>
				<td><%= link_to 'Show', user %></td>
				<td><% if can? :update, user %><%= link_to 'Edit', edit_user_path(user) %><% end %></td>
				<td><% if can? :destroy, user %><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
