<!-- <nav class="navbar navbar-light" style="background-color: #D99F7E;">
	<a class="navbar-brand">Bagel Patch</a>
	<form class="form-inline">
	  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	</nav> -->
<h1 align="center">Welcome to Bagel Patch!</h1>
<p align="center">Serving fresh bagels to LI since 1980</p>
<!-- slideshow -->
<%= render 'slideshow' %>
<!-- end -->


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Launch demo modal
	</button>
	-->
	
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- end -->

<br><br><br>

<h2 align="center"><u>Current Deals</u></h2>

<br>

<div class="row d-flex justify-content-around">
	<% @articles.each do |article| %>
	<!-- col-lg-4 col-md-4 col-6 --> 
	<div class="col-lg-3 col-sm-6 col-xs-8" style="margin-bottom:20px;margin-left:0px;margin-right:0px;display:inline-block;">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><%= article.title %></h5>
				<p class="card-text"><%= article.text %></p>
			</div>
			<% if !article.details.blank? %>
			<div class="card-footer">
				<small class="text-muted">Available 
				<%= article.details %>
				</small>
			</div>
			<% else %>
			<br><br>
			<!-- TODO look at this do nothing -->
			<% end %>
		</div>
	</div>
	<% end %>
</div>
<h6 style="text-align:right"><% if current_user %>
	<%= link_to 'Edit the deals', controller: 'articles' %>
	<% end %>
</h6>


<br><br><br>


<!-- testimonials -->
<div class="jumbotron">
		<h1 class="display-4">Customer Testimonials</h1>
		<p class="lead"><a href="https://goo.gl/maps/z4s2uy7mfb1MrTvV8" target="_blank">Submit a review on our Google page</a>!</p>
		<hr class="my-4">
		<div class="row d-flex justify-content-around">
			<div class="col-lg-5 col-md-6 col-sm-8">
				<blockquote class="blockquote">
					<p class="mb-0">I've been going here for 20+ yrs. If this place closed I would lose a part of myself and need therapy for it.</p>
					<footer class="blockquote-footer">Mike Scala</cite></footer>
				</blockquote><br>
				</div>
				
				<div class="col-lg-5 col-md-6 col-sm-8">
				<blockquote class="blockquote">
					<p class="mb-0">Quite simply the best bagels on Long Island. Whenever I visit family upstate, NJ, or PA, it is understood that I cannot arrive without a bag of Bagel Patch bagels!</p>
					<footer class="blockquote-footer">Mike Binder</cite></footer>
				</blockquote><br>
				</div>
				
				<div class="col-lg-5 col-md-6 col-sm-8">
				<blockquote class="blockquote">
					<p class="mb-0">Best. Bagels. On. Long Island. Definitely my go-to when I am on Long Island. Dubbed hot bagels, they wont let you down with fresh made bagels on the daily, and if you're looking for some bagels that do not even need to be toasted, and are just always fresh, then this needs to be your new go-to.</p>
					<footer class="blockquote-footer">Rob Bento</cite></footer>
				</blockquote><br>
				</div>
				
				<div class="col-lg-5 col-md-6 col-sm-8">
				<blockquote class="blockquote">
					<p class="mb-0">This has been my go-to bagel place for 30 years. What is fantastic about them is their bagel twist. I can't say enough good things about getting a fresh bagel twist out of the oven. You definitely have to try it.</p>
					<footer class="blockquote-footer">James De Lucia</cite></footer>
				</blockquote><br>
				</div>
				
				<div class="col-lg-5 col-md-6 col-sm-8">
				<blockquote class="blockquote">
					<p class="mb-0">If you want good fresh bagels, this is the place.  Even at 9 in the morning they are still bringing out fresh hot bagels!</p>
					<footer class="blockquote-footer">Ken Coenen</cite></footer>
				</blockquote><br>
				</div>
			</div>
	</div>
</div>

<% if !current_user %>
  <p></p>
<% elsif current_user.admin_role? %>
  <p> You are an admin </p>
<% elsif current_user.user_role? %>
  <p> You are a user</p>
<% else %>
  <p> Error</p>
<% end %>