<nav class="navbar navbar-expand-md navbar-light">
	<div class="container">
		<%= link_to 'Bagel Patch', root_path, class: 'navbar-brand' %>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			<span class="sr-only">Toggle navigation</span>
		</button>
		
		<div class="collapse navbar-collapse border-left" id="navbarSupportedContent" >
			<ul class="navbar-nav nav-fill w-100 align-items-start">
				<%= nav_link 'Home', root_path %>
				<%= nav_link 'Menu', menu_index_path %>
				<%= nav_link 'Contact', contact_index_path %>
				<%= nav_link 'About', about_index_path %>
				
				<% if !current_user %>
					<!--do nothing-->
				<% elsif current_user.admin_role? %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin tools</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item"><i>Hello, <%= current_user.name %>!</i></a>
							<%= link_to 'Admin Control Panel', :rails_admin, class: 'dropdown-item' %>
							<%= link_to "View / edit Deals", articles_path, class: 'dropdown-item' %>
							<%= link_to "View / edit Users", users_path, class: 'dropdown-item' %>
							<div class="dropdown-divider"></div>
							<%= link_to "Log out", logout_path, class: 'dropdown-item' %>
						</div>
					</li>
				<% elsif current_user.user_role? %>
					<li class="nav-item">
						<%= link_to 'Log out', logout_path, class: 'nav-link' %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>